body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.certificate {
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.certificate h2 {
    margin: 0;
    padding: 0;
}

.certificate h3 {
    margin: 10px 0;
}
